html, body {
  width: 100%;
  height: 100%
}

html {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
}

:global {
  #root {
    position: relative;
    height: 100%;
  }

  .parent {
    width: 100%;
    height: 100%;
    outline: 1px solid black;

    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: column nowrap;
  }
  
  #usermenu {
    margin: 10px;
    text-align: center;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-flow: row nowrap;
  }

  #usermenu > a {
    flex: 50px 1 1;
    align-self: flex-start;
    text-align: center;
    color: #fff;
    background-color: darkslategray;
    outline: 2px solid papayawhip;
    padding: 5px;
    text-decoration: none;
  }
  #usermenu > a:hover {
    background-color: darkolivegreen;
  }
}
