.contactlist{
  position: absolute;
  height: 100%;
  width: 100%;
  min-width: 175px;
  background: #22262A;
  overflow-y: auto;
}
.contactlist ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #d0d0d1;
}
.contactlist li{
  margin: 0 5px;
  line-height: 1.8;
  display: flex;
}
.menuBtns{
  color: #626161;
  border-radius: 2px;
  width: 125px;
  margin: 0 auto;
  padding-top: 10px;
}
.menuBtns svg{
  padding: 3px 4px 3px 4px;
  border: 1px solid #eee;
  font-size: 20px;
}
.menuBtns svg:hover{
  cursor: pointer;
  color: #7B7A7A;
  border: 1px solid #fff;
}
.confirmBtns{
  float: right;
}
.confirmBtns span{
  margin-left: 10px;
  font-size: 16px;
  color: #41B1E0;
  cursor: pointer;
}
.confirmText{
  font-size: 14px;
  margin-bottom: 15px;
}
.avatar{
  cursor: pointer;
}