@font-face {
	font-family: 'icons';
	src:url('fonts/icons.eot?z2eyh7');
	src:url('fonts/icons.eot?z2eyh7#iefix') format('embedded-opentype'),
		url('fonts/icons.ttf?z2eyh7') format('truetype'),
		url('fonts/icons.woff?z2eyh7') format('woff'),
		url('fonts/icons.svg?z2eyh7#icons') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icons';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-reply:before {
	content: "\e082";
}
.icon-access-time:before {
	content: "\e08e";
}

