@import url(icons/style.css);

.icon-access-time {
  float: left;
  margin: 1px 2px 0 3px;
  opacity: 0.7;
  font-size: 12px;
}

.icon-keyboard-arrow-down, .icon-clear, p.icon-mic{
  color: #ffffff;
  background: #bbbbbb;
  font-size: 22px;
  font-weight: 500;
  padding: 5px 4px 5px 5px;
  width: 24px;
  cursor: pointer;
}
.icon-keyboard-arrow-down{
  position: absolute;
  box-shadow: 0 -1px 1px rgba(5, 5, 5, 0.3);
}
.icon-clear{
  position: relative;
}
p.icon-mic{
  margin: 0;
  position: absolute;
  left: 0;
  font-size: 20px;
  height: 200px;
}
p.icon-mic:hover:before{
  content: "\e011";
  color: #d8935d;
}
