.infoTip {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 0;
}
.infoTipContainer {
  position: absolute;
  top: -12px;
  left: 32px;
  z-index: 1000;
}

.infoTipTriangle {
  height: 10px;
  left: 0;
  position: absolute;
  top: 8px;
  width: 0;
  z-index: 1;
}
.triangleBeforeAfter {
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
  content: ' ';
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.infoTipTriangle:before {
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
  content: ' ';
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
  border-right: 9px solid #bbb;
  right: 0;
}
.infoTipTriangle:after {
  border-right: 9px solid #eee;
  right: -1px;
  border-bottom: 9px solid transparent;
  border-top: 9px solid transparent;
  content: ' ';
  height: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.infoTipContentContainer {
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 1px 3px #ccc;
  border-bottom: 1px solid #aaa;
}
.img {
  border-radius: 4px;
  cursor: pointer;
}