.base {
  background: #dcdcdc;
  color: #424242;
  width: 100%;
  min-width: 175px;
  bottom:0;
  top: 0;
  padding-bottom: 30px;
  position: absolute;
}

.base svg{
  width: 25px;
  height: 25px;
}

.arrow{
  content: '';
  border-style: solid;
  width: 0;
  z-index: 1;
  margin-top: 12px;
  position: relative;
}

.arrowLeft {
  composes: arrow;
  border-width: 5px 6px 5px 0;
  border-color: transparent #f6f9fd;
  float: left;
}

.arrowRight {
  composes: arrow;
  border-width: 5px 0 5px 6px;
  border-color: transparent #e6ffd1;
  float: right;
}

.msgBox {
  width: 99%;
  position: relative;
  margin: 10px 4px 10px 4px;
  float: left;
  min-width: 240px;
}

.msgBox svg {
  width: 20px;
  height: 20px;
}

.msgName {
  float: left;
}

.msgName:hover {
  cursor: pointer;
}

.replyIcon {
  background: rgba(249, 252, 255, 1);
  color: #000000;
  padding: 2px 1px;
  opacity: 0;
}

.msgName:hover .replyIcon {
  opacity: 0.999;
}

.timeIcon {
  position: absolute;
  padding: 2px 1px;
}

.msgContent {
  padding: 6px 5px 2px 5px;
}
.uMsg .msgContent {
  margin-right: 4px;
}
.myMsg .msgContent {
  margin-left: 4px;
}
.msgOptions {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 102%;
}
.msgOptions svg {
  padding: 3px;
}
.uMsg .msgOptions {
  right: -33px;
  background: rgba(249, 252, 255, 1);
  border-top: solid 1px #a6b8c9;
  top: -1px;
  border-top-right-radius : 3px;
  border-bottom-right-radius : 3px;
}
.myMsg .msgOptions {
  left: -33px;
  background: #e6ffd1;
  border-top: solid 1px #b4d89f;
  top: -1px;
  border-top-left-radius : 3px;
  border-bottom-left-radius : 3px;
}
.msgOptions > div {
  display: flex;
  width: 32px;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}
.msgOptions > div:before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
.msgOptions > div{
  border-bottom: solid 1px #a6b8c9;
}
.msgOptions > div:hover {
  background: #eeeeee;
}

.msg {
  margin-right: -1px;
  max-width: 85%;
  word-wrap: break-word;
  white-space: pre-wrap;
  margin-left: -1px;
  z-index: 0;
  display: flex;
  height: 100%;
  position: relative;
  min-height: 60px;
}

.myMsg {
  composes: msg;
  background: #e6ffd1;
  border: solid 1px #b4d89f;
  float: right;
  border-top-right-radius : 3px;
  border-bottom-right-radius : 3px;
}

.uMsg {
  composes: msg;
  background: rgba(249, 252, 255, 1);
  border: solid 1px #a6b8c9;
  float: left;
  border-top-left-radius : 3px;
  border-bottom-left-radius : 3px;
}

.contentMsg {
  font-weight: 400;
  min-width: 120px;
  word-break: break-all;
  min-height: 35px;
  padding-right: 7px;
}
.bigContent {
  composes: contentMsg;
  font-size: 22px;
}
.smallContent {
  composes: contentMsg;
  font-size: 16px;
}
.contentMsg .videoContainer{
  position: relative;
  top: 5px;
  margin-left: 5px;
  margin-top: 7px;
}
.restoreMsg {
  padding: 5px;
}
.restoreMsg span{
  vertical-align: middle;
}
.restoreMsg > span{
  cursor: pointer;
  color: blue;
  font-size: 14px;
}
.restoreMsg > div{
  color: #bbb;
  font-size: 15px;
  margin-bottom: 7px;
}
.restoreMsg svg{
  font-size: 12px;
}
.footerMsg{
  display: flex;
  font-weight: 100;
  font-size: 14px;
  color: #a4a4a4;
}

.avatar {
  font-size: 14px;
  float: left;
  width: 25px;
  height: 25px;
  margin-right: 3px;
  text-align: center;
  cursor: pointer;
}

.avtrName {
  font-size: 15px;
  padding: 9px;
  width: auto;
  background: #eee;
}

.avtrName div{
  max-width: 105px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.usermsg {
  width: 100%;
  min-height: 40px;
  max-height: 100px;
  padding: 7px 40px 3px 40px;
  border: 0 none;
  background: #fff;
  font-size: 10pt;
  resize: none;
  border-top: 1px solid #999999;
  box-sizing: border-box;
  overflow-y: hidden;
}

.usermsg:hover {
  border-top: 1px solid #333333;
  overflow-y: auto;
}

.chatInpContainer {
  width: 100%;
  bottom: 0;
  position: absolute;
  line-height: 0;
  z-index: 2;
}

.chatOptions {
  background: #bbbbbb;
  width: 34px;
  height: 100%;
}

.chatOptions svg {
  box-sizing: content-box;
}

.arrowDown, .arrowUp, .iconClear, .iconMic {
  color: #ffffff;
  background: #bbbbbb;
  font-size: 22px;
  font-weight: 500;
  padding: 5px 4px 5px 5px;
  width: 24px;
  cursor: pointer;
  position: absolute;
  box-shadow: 0 -1px 1px rgba(5, 5, 5, 0.3);
}

.arrowDown:hover, .arrowUp:hover, .iconClear, .iconMic:hover {
  color: #d8935d;
  cursor: pointer;
}

.arrowUpRotate {
  composes: arrowUp;
  transform: rotate(180deg);
}

.iconClear {
  position: relative;
}

.iconMic{
  margin: 0;
  position: absolute;
  left: 0;
  font-size: 20px;
}

.userContainer {
  position: absolute;
}

.videoInpContainer{
  padding: 15px 12px 15px 12px;
  background: #ffffff;
  position: absolute;
  bottom: 0;
  border: 1px solid #aaaaaa;
  width: 290px;
  line-height: 2;
  display: flex;
  flex-direction: column;
}
.videoInpContainer span{
  word-wrap:break-word;
}

.btnContainer {
  position: absolute;
  left: 0;
  z-index: 2;
  bottom: -35px;
}
.micShow {
  position: absolute;
  left: 0;
  z-index: 2;
  bottom: 0;
}
.userContainer input {
  height: 25px;
  padding: 0 5px 0 5px;
}

.inpMenus{
  position: absolute;
  background: #ffffff;
  padding: 0;
  margin: 0;
}

.usermenu {
  composes: inpMenus;
  line-height: 2;
  min-width: 160px;
  left: 0;
  bottom: 0;
  border: 1px solid #cccccc;
}

.usermenu li{
  list-style: none;
  padding: 2px 8px 2px 5px;
  cursor: pointer;
}

.usermenu li:hover{
  background: #d8935d;
}

.usermenu svg {
  font-size: 13px;
  padding-right: 5px;
  opacity: 0.7;
}

.usermenu li:hover{
  color: #ffffff;
}

.container{
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}

.emoticonsContainer{
  position: absolute;
  right: 5px;
  top: 8px;
  width: 28px;
  background: #ffffff;
}
.emoticonsBtn span{
  margin: 6px 4px 1px 4px !important;
  opacity: 0.7;
}
.emoticonsBtn span:hover{
  opacity: 1;
}
.emoticonsRotate{
  composes: emoticonsBtn;
}
.emoticonsRotate span{
  transform: rotate(180deg);
}
.emoticonsContainer:hover{
  cursor: pointer;
}
.emoticons{
  composes: inpMenus;
  width: 308px;
  right: -5px;
  bottom: 34px;
}

.emoticons span{
  margin: 6px 3px 6px 9px !important;
}
.emoticonCategory{
  overflow-x: hidden;
  overflow-y: scroll;
  height: 220px;
  padding-top: 10px;
  box-sizing: content-box;
}
.emoticons span:not([title]){
  margin: 0 !important;
}
.emoticonCategory span:hover{
  opacity: 0.8;
  cursor: pointer;
}
.categoryBtn{
  border-right: 1px solid #ffffff;
  background: #D2DCEA;
  padding: 4px 4px 0 5px;
  opacity: 0.8;
  list-style: none;
  display: inline-block;
}
.categoryBtn span{
  margin: 6px !important;
}
.categoryBtns{
  display: inline-flex;
  font-size: 11px;
  padding:  0;
  margin: 0 0 0 1px;
}

.categoryBtn:hover{
  cursor: pointer;
  opacity: 1;
}
.categoryBtn:first-child{
  background: #ffffff;
}
.modal {
  padding: 20px;
}
.titleModal {
  padding-bottom: 15px;
  font-size: 20px;
  color: #1F1F1F;
}
.modal select{
  height: 30px;
  width: 160px;
  font-size: 16px;
  vertical-align: middle;
  padding: 2px 2px 2px 7px !important;
}
.modal .btn {
  margin: 0 2px 0 2px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  color: #1F1F1F;
  width: 30px;
  height: 30px;
}
.msgOptions > div > .btn{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal .btn:hover {
  border: 1px solid #A24E06;
}
.btn:hover, .playContainer:hover {
  cursor: pointer;
  color: #A24E06;
}

.trBox{
  border: 1px dotted #ccc;
  background: #fff;
  font-size: 14px;
  color: #777a7e;
  margin: 4px;
}
.trSpan{
  background: #eee;
  margin-left: 5px;
  padding-right: 4px;
  font-size: 16px;
  float: right;
  width: 48px;
}
.trSpan > span svg {
  width: 22px;
  height: 22px;
}
.trText{
  padding: 3px;
}

.trSpan svg:nth-child(1){
  position: absolute;
  padding: 2px 0;
}
.trSpan svg:nth-child(2){
  background: #eee;
  padding: 2px 0;
  margin-top: -2px;
  opacity: 0;
}
.trSpan:hover{
  cursor: pointer;
}
.trSpan:hover svg:nth-child(2) {
  opacity: 0.999;
}
.playContainer {
  width: 100%;
  height: 100%;
  text-align: center;
}
.playContainer svg{
  position: relative;
  margin: auto;
  height: 100%;
}
.playContainer svg:nth-child(2){
  left: 0;
}
.playContainer svg:nth-child(2){
  position: absolute;
  left: 4px;
  height: 24px;
}
.show {
  max-height: 1000px;
  overflow: hidden;
}
.hide {
  border: transparent;
  overflow: hidden;
  max-height: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.hideUmenu {
  composes: usermenu;
  composes: hide;
  opacity: 0;
}
.showUmenu {
  composes: usermenu;
  composes: show;
}
.hideEmoticons{
  composes: emoticons;
  composes: hide;
}
.showEmoticons{
  composes: emoticons;
  composes: show;
}
.msgImg{
  max-height: 250px;
  max-width: 200px;
  margin: 10px 0 10px 0;
}
.confirmBtns{
  float: right;
  margin-bottom: 10px;
}
.confirmBtns span{
  margin-left: 10px ;
  font-size: 18px;
  color: #41B1E0;
  cursor: pointer;
}
.confirmText{
  font-size: 18px;
  padding: 20px 5px 20px 5px;
}
@media (max-width: 610px) {
  .msg {
    max-width: 80%;
  }
}
@media (max-width: 420px) {
  .msg {
    max-width: 75%;
  }
  .contentMsg{
    font-size: 14px;
  }
  .emoticons{
    width: 160px;
  }
  .categoryBtns{
    display: inline-block;
    width: 157px;
    margin: 3px 0 0 3px;
  }
  .categoryBtn{
    font-size: 8px;
    border-bottom: 1px solid #ffffff;
  }
  .videoInpContainer{
    width: 180px;
  }

}
@media (max-width: 320px) {
  .msg {
    max-width: 70%;
  }
  .modal select{
    width: 80px;
  }
}
@media (max-width: 250px) {
  .msg {
    max-width: 55%;
  }
  .contentMsg{
    font-size: 12px;
  }
  .videoInpContainer{
    width: 135px;
  }
}
