html {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
}

body {
  font-size: 13px;
  line-height: 20px;
  margin: 0;
  overflow: hidden;
}
.contactlist{
  position: absolute;
  height: 100%;
  width: 100%;
  background: #22262A;
  overflow-y: auto;
}
.headerlist{
  background: #333c44;
  color: #cbcfd5;
  padding: 5px;
  border-bottom: 2px solid #676767;
}
.headerlist span{
  vertical-align: middle;
}
.headerlist svg{
  padding: 2px;
  font-size: 18px;
}
.contactlist ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  color: #d0d0d1;
}
.contactlist li{
  margin: 0 5px;
  border-bottom: 1px solid #555;
  line-height: 2.7;
  display: flex;
}
.img{
  width: 25px;
  height: 25px;
  border-radius: 2px;
  vertical-align:middle;
  margin: 4px 5px 4px 0;
}
.txt {
  line-height: 2.2;
  border: 1px solid #90a4ae;
  border-radius: 4px;
  color: #ddd;
  background: #90a4ae;
  width: 25px;
  text-align: center;
  height: 25px;
  float: left;
  margin: 4px 5px 4px 0;
  font-size: 12px;
}
.arrow{
  background: #484A4E;
  border-radius: 8px;
  color: #c1c1c1;
  width: 18px;
  height: 18px;
  position: absolute;
  right: 7px;
  margin-top: 8px;
}
.arrow svg{
  position: absolute;
  padding: 1px;
  font-size: 16px;
}
.arrow:hover{
  background: #5E6062;
  color: #fff;
  cursor: pointer;
}
.rotateSvg{
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}